html {
    background-image: url("BG.jpeg");
    background-size: cover;
}
#main-content-1 {
    background-color: rgba(33, 25, 33,0.64);
    margin-top: 0.7em;
    margin-bottom: 5%;
    width: 60%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 0.6em;
    color: rgb(92,179,202);
    padding: 4% 10% 10%;
    font-size: 1em;
}
#main-content-2 {
    background-color: rgba(33, 25, 33,0.64);
    margin-top: 0.7em;
    margin-bottom: 5%;
    width: 60%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 0.6em;
    color: rgb(92,179,202);
    padding: 4% 10% 10%;
    font-size: 1em;
}
#main-content-4 {
    background-color: rgba(33, 25, 33,0.64);
    margin-top: 0.7em;
    margin-bottom: 5%;
    width: 60%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 0.6em;
    color: rgb(92,179,202);
    padding: 4% 10% 10%;
    font-size: 1em;
}
#main-content-3 {
    background-color: rgba(33, 25, 33,0.64);
    margin-top: 0.7em;
    margin-bottom: 5%;
    width: 60%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 0.6em;
    color: rgb(92,179,202);
    padding: 4% 10% 10%;
    font-size: 1em;
}
#right-arrow-1 {
    padding-left: 57em;
    height: 3em;
    width: 3em;
    cursor: pointer;
}
#right-arrow-2 {
    padding-left: 57em;
    height: 3em;
    width: 3em;
    cursor: pointer;
}
#right-arrow-3 {
    padding-left: 57em;
    height: 3em;
    width: 3em;
    cursor: pointer;
}
#right-arrow-4 {
    padding-left: 57em;
    height: 3em;
    width: 3em;
    cursor: pointer;
}
#logo {
    height: 22%;
}
.title {
    font-size: 1.4em;
    font-family: 'Montserrat', sans-serif;
}
.header {
    font-family: 'Montserrat', sans-serif;
}
.main-text {
    font-family: 'Open Sans', sans-serif;
}
